*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --orange-color: hsl(12, 88%, 59%);
    --orangehovercover:hsl(10, 85%, 69%);
    --lightgray: hsl(227, 12%, 61%);
    --darkgray: hsl(228, 39%, 23%);
    --verydarkgray: hsl(233, 12%, 13%);
    --white: hsl(0, 0%, 100%);
    --lightergraycolor: hsl(0, 0%, 98%);
}

a{
    text-decoration: none;
}

html,body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navToggle{
    display: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px 60px 120px;
    font-size: 14px;
}

.navlink {
    display: flex;
    gap: 40px;
   
}

.navlink a{
    color: var(--darkgray);
}

.navlink a:hover{
    color: var(--lightgray);
}

.get-started {
    font-size: 12px;
    background-color: var(--orange-color);
    padding: 14px 35px;
    border-radius: 50px;
    color: var(--white);
    box-shadow: 2px 3px 5px  var(--orange-color);
}

.get-started:hover{
    background-color: var(--orangehovercover);
}
/* 
.bgSection{
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -200px;
    background-size: contain;
} */

/* .bgSection2 {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -500px;
} */

/* .bgSection3 {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-position: left;

} */

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 40px 120px;
    position: relative;
}

#hero .bg{
    position: absolute;
    z-index: -1;
    top: -40%;
    right: -5%;
    width: 50%;
}

#hero img {
    width: 50%;
}

#hero div {
    width: 40%;
}

#hero div h1{
    font-size: 50px;
    color: var(--darkgray);
    font-weight: 700; 
}

#hero div p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
    color:  var(--lightgray);
}

.main1 {
    padding: 30px 120px 120px 120px;
    display: flex;
    gap: 100px;  
}

.main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main2 {
    width: 60%;
}


.main h2 {
    font-size: 16px;
    color: var(--darkgray);
}

.main-head {
    width: 50%;
    position: relative;
}

.main-head img{
    position: absolute;
    z-index: -1;
    left: -80%;
    top: 50%;
    width: 130%;
}

.main-head h1 {
    font-size: 38px;
    color: var(--darkgray);
    padding-bottom: 20px;
}

.main-head p {
    font-size: 16px;
    color: var(--lightgray);
    line-height: 1.5;
}

.p1{
    background-color: var(--orange-color);
    color: var(--white);
    padding: 8px 25px;
    border-radius: 50px;
}

.mainText{
    margin-left: 6rem;
    padding: 10px 0;  
    font-size: 16px;
    color: var(--lightgray);
    line-height: 1.5;
}

.ss {
    padding-bottom: 40px;
}

#testimonials {
    text-align: center;
    margin-bottom: 200px;
}

#testimonials h1 {
    font-size: 40px;
    color: var(--darkgray);
    padding-bottom: 20px;
}

#testimonials .alltest .test img{
    width: 18%;
    margin: -40px auto 0;
}

.alltest {
    display: flex;
    justify-content: space-between;
    gap: 20px !important;
    text-align: center;
    padding-bottom: 60px;
    
}

.slick-dots{
    padding: 40px 0 40px;
}

.test {
    background-color: var(--lightergraycolor);
    width: 50%;
    height: 50%;
    padding: 10px 20px;
    /* margin-top: 80px; */
    margin:80px 20px 0;
}

.test h3 {
    font-size: 16px;
    color: var(--darkgray);
}

.test p {
    font-size: 15px;
    line-height: 1.5;
    color: var(--lightgray);
}

#red  {
    display: flex;
    justify-content: space-between;
    gap: 20%;
    align-items: center;
    background-color: var(--orange-color);
    height: 200px;
    padding: 10px 100px 10px 140px;
    position: relative;
    z-index: 1;
}

#red .bg1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: -50%;
}

#red div{
    width: 50%;
}

#red div p {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

#red .btn {
    background-color: #fff;
    color: var(--orange-color);
    padding: 14px 35px;
    border-radius: 50px;
    font-size: 12px;
}


.main-footer {
    display: flex;
    justify-content: space-between;
    background-color: hsl(233, 12%, 13%);
    color: #fff;
    padding: 60px 100px 60px 150px;
    position: relative;
    z-index: 3;
}

.main-footer a{
    color: #fff;
    font-size: 14px;
}

.main-footer a:hover {
    color: var(--orange-color);
}

.icon {
    display: flex;
    gap: 10px;
}

.icon a {
    font-size: 24px;
}

.main-footer img {
    padding-bottom: 80px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

.lastpart {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.lastpart-1, .lastpart-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.go form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.go p {
    font-size: 12px;
    margin-top: 80px;
}

.email{
    outline: none;
    height: 40px;
    width: 200px;
    padding-left: 16px;
    border-radius: 50px;
    border: none;
}

.goBTN {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--orange-color);
}

.goBTN:hover {
    background-color:var(--orangehovercover);
}


@media only screen and (max-width: 1440px)  {
    .go p{
        margin-top: 30px;
        display: block;
    }
    
    .mc p{
        display: none;
        font-size: 10px;
    }
}


@media only screen and (max-width: 1200px)  {
#nav{
    padding: 40px 60px;
}

.navlink {
    gap: 50px;
}

#hero{
    padding: 40px 60px;
}

#hero div h1{
    font-size: 40px;
}

.main1{
    padding: 40px 60px;
    gap: 35px;
} 

.main-head{
    width: 40%;
}

.main-head h1{
    font-size: 30px;
    font-weight: 700;
}

#testimonials{
    margin-bottom: 150px;
}

#red{
    padding: 40px 60px;
    gap: 10%;
}

.main-footer{
    padding: 40px 60px;
}

#red div p {
    font-size: 35px;
}


}


@media only screen and (max-width: 992px)  {
.navlink{
    gap: 15px;
}

#hero div{
    width: 50%;
}

#hero div h1{
    font-size: 30px;
}
 
.lastpart{
    gap: 50px;
}

#red {
    padding: 40px 35px;
}

.main-footer{
    padding: 40px 35px;
    gap: 40px;
}
}

@media only screen and (max-width: 768px)  {
#nav{
    padding: 20px;
    font-size: 12px;
}
#nav img{
    width: 70%;
}

.navlink{
    gap: 10px;
}

.get-started{
    padding: 10px 20px;
}

#hero{
    padding: 40px 20px;
}

#hero div h1{
    font-size: 25px;
    padding-bottom: 5px;
}

#hero div{
    width: 40%;
}

#hero div p{
    font-size: 16px;
    
}

.main1 {
    padding: 40px 15px;
}

.main-head{
    width: 40%;
}

.main-head h1{
    font-size: 25px;
}

.main-head p{
    font-size: 14px;
}

.main{
    gap: 10px;
}

.mainText{
    margin-left: 4rem;
    font-size: 14px;
}

.ss{
    padding-bottom: 30px;
}

.p1{
    padding: 5px 15px
}

#red{
    padding: 40px 15px;
}

#red div p{
    font-size: 23px;
}

#red .btn{
    padding: 10px 20px; 
}

.main-footer{
    padding: 40px 15px;
    gap: 20px;
}

.email{
    height: 30px;
    width: 130px;
}

.goBTN{
    width: 40px;
    height: 28px;
}

.lastpart{
    gap: 20px;
}
}


@media only screen and (max-width: 576px){
.lastpart{
    gap: 150px;
}

.email{
    width: 200px;
    height: 40px;
}

.goBTN{
    width: 60px;
    height: 40px;
}

.go form{
    padding-top: 20px;
}

.go{
    text-align: center;
}

#hero div h1{
    font-size: 20px;
}

#hero img{
    width: 55%;
}

.main-head h1{
    font-size: 20px;
}

.main-head p{
    font-size: 14px;
}

.p1{
    padding: 2px 10px;
}

.mainText{
    font-size: 14px;
    margin-left: 3rem;
}

.main-footer{
    flex-direction: column-reverse;
    align-items: center;
}

.main-footer img{
    padding-bottom: 30px;
}

.go p{
    margin-top: 30px;
    display: none;
}

.mc{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
}

.mc p{
    display: block;
    font-size: 10px;
}


.navToggle{
    display: block;
  }

  .get-started, .navToggle .close{
    display: none;
  }


.navlink{
    position: fixed;
    left: 50%;
    top: -40%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    padding: 30px 0;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 7000px rgba(32, 32, 32, 0.329),
                -10px -10px 700px rgba(32, 32, 32, 0.329);
    transition: .5s;
    border-radius: 10px;
    z-index: 999;
  }



}

@media only screen and (max-width: 480px){
#hero{
    flex-direction: column-reverse;
    padding: 20px;
}

#hero img{
    width: 100%;
}

#hero div{
    width: 100%;
    text-align: center;
    padding: 20px 30px;
}

#hero div h1{
    font-size: 30px;
}

#hero div p{
    font-size: 16px;
}

.get-started{
    padding: 14px 35px;
}

#red{
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px 90px;
}

#red div p{
    font-size: 30px;
    margin-bottom: 20px;
}

#red div{
    width: 100%;
}

#red .bg1{
    width: 350%;
    top: -30%;
    left: -98%;
}

.main1{
    flex-direction: column;
    padding-bottom: 5px;
}

.main-head{
    text-align: center;
}

.main-head, .main2{
    width: 100%;
}

.main{
    background-color: hsla(10, 100%, 83%, 0.664);
    border-radius: 50px 0 0 50px;
}

.mainText{
    margin-left: 0;
}

.p1{
    padding: 8px 22px;
}

.mainText{
    font-size: 16px;
    line-height: 2;
}

.main-head p{
    font-size: 16px;
}

#testimonials{
    margin-bottom: 60px;
}

#testimonials h1{
    font-size: 30px;
}

#hero .bg{
    top: -20%;
    right: -20%;
    width: 100%
}

.main-head img{
    right: -50%;
    top: -200%;
    width: 80%;
}

}

@media only screen and (max-width: 375px){
#hero div{
    width: 120%;
    padding: 20px;
}

.main-head h1{
    font-size: 30px;
}

.mainText,#hero div p,.main-head p{
    font-size: 15px;
}

.main h2{
    font-size: 15px;
}

#red .bg1{
        
    width: 620%;
    top: -50%;
    left: -185%
}

#red .btn{
    padding: 14px 35px;
}

#red div p{
    font-size: 25px;
}

.lastpart{
    gap: 95px;
    padding: 20px 0;
}

.main-footer img{
    width: 80%;
    padding-bottom: 0;
}

.navlink{
    width: 280px;
}

}
